swift-auth-url:
swift-access-key:
swift-secret-key:
swift-domain:
swift-tenant-id:

# access token is needed for pull requests
github-access-token:
git-private-key: |
  -----BEGIN RSA PRIVATE KEY-----

  -----END RSA PRIVATE KEY-----
